export PATH=~/anaconda3/bin:$PATH
export PATH=$PATH:~/android-studio/bin
export PATH=$PATH:~/.local/bin
export PATH=$PATH:~/go/bin
export PATH=$PATH:~/scripts
export PATH=$PATH:~/.local/share/gem/ruby/3.2.0/bin
export PATH=$PATH:/opt/flutter/bin


export ENV="{{ .chezmoi.homeDir }}/.zshenv"
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket
