export ZSH="${HOME}/.oh-my-zsh"

# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="agnoster"
# Do not auto update oh-my-zsh
DISABLE_AUTO_UPDATE=true

# HYPHEN_INSENSITIVE="true"


# Process the dircolors from the home dir to make folders look less terrible
if [[ ! -z "${HOME}/.dircolors" ]]; then
  eval `dircolors ${HOME}/.dircolors`
else
	echo "dircolors not set"
fi

# fzf-tab settings. I don't actually like fzf-tab all that much.
# don't sort git branches
# zstyle ':completion:*:git-checkout:*' sort false
# set descriptions format to enable group support
# NOTE: don't use escape sequences here, fzf-tab will ignore them
# zstyle ':completion:*:descriptions' format '[%d]'
# force zsh not to show completion menu, which allows fzf-tab to capture the unambiguous prefix
# zstyle ':completion:*' menu no
# preview directory's content with eza when completing cd
# zstyle ':fzf-tab:complete:cd:*' fzf-preview 'exa --icons --sort name -1a --color=always $realpath'
# switch group using `<` and `>`
# zstyle ':fzf-tab:*' switch-group '<' '>'
# zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
# zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup
# zstyle ':fzf-tab:*:*' fzf-bindings 'ctrl-k:accept,ctrl-e:abort'

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"
# ENABLE_CORRECTION="true"

COMPLETION_WAITING_DOTS="true"

# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
plugins=(
    extract
    history-substring-search
    sudo
    dirhistory # alt-left to go back
    gh
    git
    golang
    helm
    kubectl
    ssh

    # installed separately
    zsh-autosuggestions
    zsh-syntax-highlighting
    # fzf-tab
)

bindkey -v # vim mode

# Open command editor in neovim itself
autoload -Uz edit-command-line
zle -N edit-command-line
bindkey -M vicmd e edit-command-line

source $ZSH/oh-my-zsh.sh

eval "$(atuin init zsh)"
eval "$(zoxide init zsh --cmd cd)"

# jj (Jujutsu) prompt support
jj_prompt_info() {
  if jj root >/dev/null 2>&1; then
    local bookmark
    local color="%{$fg_bold[cyan]%}"
    
    # Check if current revision has conflicts
    if [[ $(jj log -r @ --no-graph -T 'conflict' 2>/dev/null) == "true" ]]; then
      color="%{$fg_bold[red]%}"
    fi
    
    bookmark=$(jj log -r @ --no-graph -T 'bookmarks.join(", ")' 2>/dev/null | tr -d '\n')
    
    if [[ -n "$bookmark" ]]; then
      echo -n " ${color}($bookmark)%{$reset_color%}"
    else
      # Find nearest ancestor with a bookmark
      local ancestor_bookmark
      ancestor_bookmark=$(jj log -r 'heads(::@- & bookmarks())' --no-graph -T 'bookmarks.join(", ")' --limit 1 2>/dev/null | tr -d '\n')
      if [[ -n "$ancestor_bookmark" ]]; then
        echo -n " ${color}($ancestor_bookmark^)%{$reset_color%}"
      fi
    fi
  fi
}

# Combined VCS prompt (git or jj)
vcs_prompt_info() {
  local jj_info=$(jj_prompt_info)
  if [[ -n "$jj_info" ]]; then
    echo -n "$jj_info"
  else
    echo -n "$(git_prompt_info)"
  fi
}

PROMPT="%(?:%{$fg_bold[magenta]%}%n:%{$fg_bold[red]%}%n)"
PROMPT+='%{$reset_color%}:%{$fg_bold[blue]%}%c%{$reset_color%}$(vcs_prompt_info)$ '
ZSH_THEME_GIT_PROMPT_PREFIX=" %{$fg_bold[cyan]%}("
ZSH_THEME_GIT_PROMPT_SUFFIX=")%{$reset_color%}"
ZSH_THEME_GIT_PROMPT_CLEAN=""
ZSH_THEME_GIT_PROMPT_DIRTY="*"

# Preferred editor for local and remote sessions
export VISUAL='nvim'
export EDITOR='nvim'

source ~/.zsh-aliases.zsh

bindkey -s ^f "~/scripts/tmux.sh\n"

{{ if eq .chezmoi.hostname "Adaptemy-AislingArch" }}
if [[ -f "/usr/share/nvm/init-nvm.sh" ]]; then
  source /usr/share/nvm/init-nvm.sh
fi
{{ end }}
