#!/bin/bash


echo "Installing packages"
yay -Syu

{{ $root := . }}

{{ range $packagePointer := list .packages.pacman .packages.yay }}
	{{ $declaredAndIgnoredPackages := list }}
	{{ $declaredPackages := list }}
	{{ $declaredListSources := list .common .system .plasma .install .ignore }}
	{{ if eq $root.chezmoi.hostname "HPE-AislingArch" }}
		{{ $declaredListSources = append $declaredListSources .work }}	
	{{ else }}
		{{ $declaredListSources = append $declaredListSources .home }}
	{{ end}}


	{{ range $l := $declaredListSources }}
		{{ if ne $l nil }}
			{{ $declaredAndIgnoredPackages = concat $declaredAndIgnoredPackages $l }}
		{{ end }}
	{{ end}}


	{{ range $l := (without $declaredListSources .ignore) }}
		{{ if ne $l nil }}
			{{ $declaredPackages = concat $declaredPackages $l}}
		{{ end }}
	{{ end}}

	{{ $toRemove := list }}
	{{ $toAdd := list}}

	{{ range $item2 := .installed }}
	    {{ $found := false }}
	    {{ range $item1 := $declaredAndIgnoredPackages }}
	        {{ if eq $item2 $item1 }}
	            {{ $found = true }}
	            {{ break }}
	        {{ end }}
	    {{ end }}
	    {{ if not $found }}
	        {{ $toRemove = append $toRemove $item2 }}
	    {{ end }}
	{{ end }}

	{{ range $item2 := $declaredPackages }}
	    {{ $found := false }}
	    {{ range $item1 := $packagePointer.installed }}
	        {{ if eq $item2 $item1 }}
	            {{ $found = true }}
	            {{ break }}
	        {{ end }}
	    {{ end }}
	    {{ if not $found }}
	        {{ $toAdd = append $toAdd $item2 }}
	    {{ end }}
	{{ end }}

	{{ if ne (len $toAdd) 0 }}
	echo Adding {{ $toAdd | join " " }}
	{{ .executable }} -Sy --needed {{ $toAdd | join " "}}
	{{ .executable }} -D --asexplicit {{ $declaredPackages | join " "}}
	{{ else }}
	echo No packages to add.
	{{ end }}
	{{ if ne (len $toRemove) 0 }}
	echo Removing {{ $toAdd | join " " }}
	{{ .executable }} -D --asdeps {{ $toRemove | join " " }}
	{{ else }}
	echo No packages to remove.
	{{ end }}
{{ end}}

# Clean up packages that have been marked as dependencies
yay -Yc
